[submodule "uSockets"]
	path = uSockets
	url = https://github.com/lostero/uSockets.git
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/lostero/libEpollFuzzer
