[submodule "uSockets"]
	path = uSockets
	url = https://github.com/lostrepo/uSockets
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/lostrepo/libEpollFuzzer
